<!doctype html>
<html lang="pt-br">
<head>
  <title>Agendamento Mongo</title>
  <!-- Required meta tags -->
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Optional CSS -->
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div id="root" class="d-flex justify-content-center align-items-center">
    <div class="card">
      <div class="card-header">
        <h1>
          Cadastro de consulta
        </h1>
      </div>
      <div class="card-body">
        <form method="POST" action="create">
          <div class="form-group">
            <label for="pacientName">Informe o nome do paciente</label>
            <input type="text" name="pacientName" id="pacientName" class="form-control" placeholder="Gabriel Santos Cardoso" required>
          </div>
          <div class="form-group">
            <label for="pacientEmail">Informe o e-mail do paciente</label>
            <input type="email" class="form-control" name="pacientEmail" id="pacientEmail" placeholder="gabrielcardoso@email.com" required>
          </div>
          <div class="form-group">
            <label for="pacientCPF">Informe o CPF do paciente</label>
            <input type="text" class="form-control" name="pacientCPF" id="pacientCPF" required>
          </div>
          <div class="form-group">
            <label for="pacientDescription">Informe os principais sintomas do paciente</label>
            <textarea class="form-control" name="pacientDescription" id="pacientDescription" rows="1"></textarea>
          </div>
          <div class="d-flex">
            <div class="col-sm-12 col-md-6">
              <label for="pacientAppointmentDate">Informe a data da consulta</label>
              <input type="date" class="form-control" name="pacientAppointmentDate" id="pacientAppointmentDate" required>
            </div>
            <div class="col-sm-12 col-md-6">
              <label for="pacientAppointmentTime">Informe a hora da consulta</label>
              <input type="time" class="form-control" name="pacientAppointmentTime" id="pacientAppointmentTime" required>
            </div>
          </div>
          <div class="form-group pt-4">
            <button class="btn btn-primary form-control">Agendar</button>
          </div>
        </form>
      </div>
    </div>

  </div>

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <!-- Optional JavaScript -->
  <script src="/plugins/jquery-mask/dist/jquery.mask.min.js"></script>
  <script src="/js/index.js"></script>
</body>
</html>